<div class="row">
  <div class="col regions-form">
    <h1 class="border-bottom title"><%= t 'regions.new.welcome_to_daria', org: current_tenant.name %></h1>

    <%= bootstrap_form_with url: regions_path, local: true, class: 'region-select-form' do |f| %>
      <%= f.form_group :region_id, label: { text: t('regions.new.what_region') } do %>
        <% @regions.each_with_index do |region, index| %>
          <% if index == 0 %>
            <%= f.radio_button :region_id, region.id, label: region.name, checked: true %>
          <% else %>
            <%= f.radio_button :region_id, region.id, label: region.name %>
          <% end %>
        <% end %>
      <% end %>
      <%= f.submit t('regions.new.start'), class: 'btn-lg btn-primary' %>
    <% end %>
  </div>
</div>
